* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #5982F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-width: 100%;
    color: var(--text-color);
    background: #000;
}

.Home-section,
.about-section,
.services-section,
.contact-section,
.project-section {
    min-height: 100vh;
    max-width: 160%;
    padding: 5rem 0;
}




.header {
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgb(73, 70, 70);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
    outline: none;
}

#logo {
    background-image: linear-gradient(to right, blue, rgb(199, 15, 199));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 5%;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    animation: textfill 3s linear infinite;
}

@keyframes textfill {

    50% {
        background-image: linear-gradient(to right, rgb(147, 232, 200), rgb(33, 33, 226));
    }

    100% {
        background-image: linear-gradient(to right, blue, rgb(216, 25, 216));
    }
}


.navbar a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    margin-left: 4rem;
    transition: .2s ease;


}

.navbar a:hover {

    color: var(--main-color);

}


.Home-section {
    background: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;


}

.Home-container {

    width: 60%;

}

.Home-container h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.Home-container h3 :nth-last-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.Home-container h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-img {
    margin-left: 5%;
}

.home-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(30, 30, 218);
    box-shadow: 0 0 1rem rgb(235, 228, 228);
    animation: floatimg 4s ease-in-out infinite;
}


@keyframes floatimg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.Home-container p {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;


}

.social-icon a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(207, 204, 217);
    text-decoration: none;
    transition: .5s ease;
    margin: 10px;
}

.social-icon a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    margin-top: 10px;
    display: inline-block;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    cursor: pointer;
}



/* about section */
.about-section {
    width: 100%;
    background: var(--snd-bg-color);
    padding-bottom: 10%;
    justify-items: center;
}

.about-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5%;
}

.about-img {

    padding-top: 5%;
    margin-left: 25%;
}

.about-img img {
    max-height: 300px;
    max-width: 300px;
    border: 3.5px solid blue;
    border-radius: 11px;

}



.about-content {
    margin-left: -15%;

    /* height: 0%; */
    padding-left: 5%;

}

.about-content .heading {
    text-align: center;
    font-size: 4.5rem;

}

.about-content h3 {
    margin-top: 10%;
    font-size: 2.6rem;
    color: var(--main-color);
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* services  */
.services-section {
    width: 100%;
    background: var(--bg-color);
    padding-bottom: 20%;
}

.heading {
    text-align: center;
    padding-top: 3%;
    font-size: 4.5rem;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

}

.services-box {
    background: var(--snd-bg-color);
    border: 3px solid var(--main-color);
    border-radius: 5%;
    padding: 3rem;
    transition: .5s ease;
    min-height: 370px;
    text-align: justify;


}

.services-box:hover {
    background: var(--bg-color);
    transform: scale(1.02);
}

.services-box .heading {
    color: var(--main-color);
    padding-bottom: 5%;
}

.services-box i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.services-box img {

    margin-left: 40%;
    height: 60px;
    width: 70px;
}

.services-box p {
    font-size: 2.6rem;
    line-height: 1rem;
}

/* project section  */
.project-section {
    width: 100%;
    background: var(--snd-bg-color);
}

#heading {
    color: var(--main-color);
}

#heading h2 {
    padding: 3%;
    text-align: center;
    font-size: 50px;
    display: block;
}

.project-card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
}




.project-box {
    background: rgb(11, 11, 103);
    border: 2px solid rgb(29, 28, 28);
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: .5s ease;
    border: 3px solid var(--main-color);


}

.project-box:hover {
    transform: scale(1.02);
}

.project-box #img-box {
    border-radius: 5px;
    height: 180px
}

.project-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.project-box p {
    padding: 5px;
    font-size: 15px;
    color: #fff;
    font-size: medium;
    text-align: justify;
}

.card-btn {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background: #1bc216;
    color: white;
    margin-left: 3%;
    text-align: center;


}

/* contact section */
.contact-section {
    background: var(--bg-color);



}

.contact-section form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box input,
.contact-section form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--snd-bg-color);
    border-radius: .9rem;
    margin: .7rem 0;
}

.input-box input,
.contact-section form textarea:hover {
    cursor: pointer;

}

.input-box input {
    width: 49%;
}

.footer {
    background: var(--main-color);
    height: 50px;
    max-width: 160%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-text {
    padding-top: 12px;
    font-size: larger;
}

.footer-icon a {
    text-decoration: none;
    font-size: larger;
    margin-right: 10px;
    margin-top: 15px;
    color: white;
    margin-top: 12px;
}

.Home-container h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

.input-box input:hover,
.contact form textarea:hover {
    cursor: pointer;
    color: var(--main-color);
}

/* responsive */
@media screen and (max-width:391px) {
    .about-content {
        margin-left: auto;
    }

    .about-img {
        margin: auto;
    }

    .Home-section,
    .about-section,
    .services-section,
    .contact-section,
    .project-section {
        min-height: 100%;
        max-width: 160%;
        padding: 5rem 0;
    }

    #service1 {
        height: 110%;

    }

    .Home-section {
        padding-top: 25%;

    }

    .header {
        padding-bottom: 4%;
    }
}